body{
    background-color: rgb(238, 255, 127);
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: blueviolet;
    background-color: rgb(240, 184, 220);
}
h2{
    color: red;
}
p{
    text-align: justify;
}